wallet_info{% extends 'base.html' %}
{% block content %}
<div class="main">
  <div class="send_page col-xs-12">
  <div class="send-total col-xs-12"><span class="pull-left">Send Coin</span><span class="pull-right">{{ wallet_info.balance }} Coin</span></div>

  <div class="transactions-send table-responsive col-xs-12">
    <h3>Unspent Transactions</h3>
    <table id="table-unspent" class="table table-striped">
      <thead>
        <tr>
          <th class="text-center col-sm-6">Address</th>
          <th class="text-center col-sm-2">Amount</th>
          <th class="text-center col-sm-2">Confirmations</th>
          <th class="text-center col-sm-2">Spendable</th>
        </tr>
      </thead>
      <tbody>
        {% for unspent in wallet_info.tx_list %}
        <tr>
            <td align="center">{{ unspent.address }}</td>
            <td align="center">{{ '%0.4f'| format(unspent.amount) }}</td>
            <td align="center">{{ unspent.confirmations }}</td>
          <td align="center">
          {% if unspent.spendable %}
              <span class="glyphicon glyphicon-ok green-unspent"></span>
          {% else %}
              <span class="glyphicon glyphicon-remove red-unspent"></span>
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
