{% extends 'base.html' %}
{% block content %}
  <div class="main">
    <div class="transactions col-xs-12 table-responsive col-xs-12">
        <h3>Transaction History</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center col-md-3">Date</th>
              <th class="text-center col-md-1">Type</th>
              <th class="text-center col-md-3">Transaction ID</th>
              <th class="text-center col-md-2">Amount</th>
              <th id="fee" class="text-center col-md-1">Fee</th>
              <th id="confirmations" class="text-center col-md-2">Confirmations</th>
            </tr>
          </thead>
          <tbody>
            {% for tx in all_tx %}
            <tr>
              <td id="table_padding" align="left">{{ time.strftime('%B %d %Y %I:%M%p %Z', time.localtime(tx.time)) }}</td>
              <td align="center">
                {% if tx.category == "receive" %}
                    <span class="glyphicon glyphicon-download green"></span>
                  {% elif tx.category == "send" %}
                    <span class="glyphicon glyphicon-upload red"></span>
                  {% else %}
                    <span class="glyphicon glyphicon-refresh blue"></span>
                  {% endif %}
              </td>
              <td id="table_padding" align="center" class="text"><span><a href="https://explorer.org/tx/{{tx.txid}}" target="_blank">{{ tx.txid}}</a></span></td>
              <td id="table_padding" align="center">{{ '%0.4f'| format(tx.amount) }}</td>
              {% if tx.fee == nil %}
                <td id="table_padding" align="center">0.0000</td>
              {% else %}
                <td id="fee_table" align="center">{{ tx.fee }}</td>
              {% endif %}
              {% if tx.blockhash == nill %}
                <td id="conf_table" align="center">Orphan Block</td>
              {% else %}
                <td id="conf_table" align="center">{{ tx.confirmations }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}
